@import "customVariables"
@import "bootstrap"
@import "bootstrap-compass"

#graph-container
	height: 0
	padding-bottom: 50%
	background-color: #FFF
	border-top: #337AB7 1px solid

.panel-heading
	font-weight: bold

.panel-footer .pager
	margin: 0

#status-panel
	margin-bottom: 5px