doctype head
html(lang='en')
    meta(charset='utf-8')
    title

    link(href='styles/app.css' rel='styleSheet')

    body
        .jumbotron
            .container
                h1#title
        #content.container
            #status-panel.panel.panel-primary
                #status-title.panel-heading
                #status-desc.panel-body
                .panel-footer
                    ul.pager
                        li#pager-previous.previous.hidden
                            a(href='#')
                                span.glyphicon.glyphicon-menu-left
                                | Anterior
                        li#pager-startGuide.previous.hidden
                            a(href='#guide')
                                span.glyphicon.glyphicon-menu-left
                                | Voltar ao Guia
                        li#pager-next.next.hidden
                            a(href='#')
                                | Próximo
                                span.glyphicon.glyphicon-menu-right
                        li#pager-finishGuide.next.hidden
                            a(href='#sandbox')
                                | Finalizar
                                span.glyphicon.glyphicon-ok
                #graph-container
        script(src='scripts/app.js')
