doctype head
html(lang='en')
    meta(charset='utf-8')
    title

    link(href='styles/app.css' rel='styleSheet')
    body
        #about-container.hide
            .container#about-content
                .row
                    .col-lg-12
                        a.glyphicon.glyphicon-remove.pull-right.padding-30#close-about-button(href="#")
                        h2.page-header Sobre Nós
                    .col.text-center
                            h4
                            | Esse REA foi desenvolvido para auxiliar alunos e professores a aprender sobre modelagem de 
                            strong deadlocks
                    
                    .col-lg-2.col-xs-4.col-sm-3.col-md-3.col-lg-offset-3.col-xs-offset-2.text-center
                        img.img-circle.img-responsive.img-center(src="assets/images/monera.jpg")
                        h3 Victor Augusto Moneratto Saia
                        a(href="http://www.github.com/victormoneratto")
                            h4
                                object(data="assets/images/GitHub-Mark.svg" type="image/svg+xml")
                                | VictorMoneratto
                    .col-lg-2.col-xs-4.col-sm-3.col-md-3.text-center
                        img.img-circle.img-responsive.img-center(src="assets/images/heclis.jpg")
                        h3 Victor Hugo Heclis
                        a(href="http://www.github.com/vheclis")
                            h4
                                object(data="assets/images/GitHub-Mark.svg" type="image/svg+xml")
                                | VHeclis
                    .col-lg-2.col-xs-4.col-sm-3.col-md-3.text-center
                        img.img-circle.img-responsive.img-center(src="assets/images/nilson2.jpg")
                        h3 Nilson Furquim da Silva
                        a(href="http://www.github.com/nilfurquim")
                            h4
                                object(data="assets/images/GitHub-Mark.svg" type="image/svg+xml")
                                | NilFurquim
                    .col-lg-12.text-center
                        object(data="assets/images/icmc.svg" type="image/svg+xml").padding-30
                        object(data="assets/images/usp.svg" type="image/svg+xml").padding-30
        .jumbotron
            .container
                h1#title
                ul.nav.nav-pills
                    li(role="presentation").active
                        a(href="#guide")
                            span#menu-guide-label
                    li(role="presentation")
                        a(href="#sandbox")
                            span#menu-sandbox-label
                    li(role="presentation")
                        a(href="#about")
                            span#menu-about-label
                    li.pull-right
                        h2(style="margin:0")
                            a(href="#translate/en-US")
                                span(style="border-radius: 5px").flag-icon.flag-icon-us
                            a(href="#translate/pt-BR")
                                span(style="border-radius: 5px").flag-icon.flag-icon-br
        #content.container
            .page-header
                .btn-group.pull-right
                    button.btn#hide-content-button
                        span.caret
                h3#explanation-title

            .quote#explanation-content-container
                h5#explanation-content
            #status-panel.panel.panel-primary
                #status-title.panel-heading
                .panel-body
                    p#status-desc.text-center
                    p#how-to-use
                    .btn-group.pull-right
                            button.btn#help-button
                    .container#help-content.hidden
                    
                .panel-footer
                    ul.pager
                        li#pager-previous.previous.hidden
                            a(role='button')
                                span.glyphicon.glyphicon-menu-left
                                span#previous-label
                        li#pager-startGuide.previous.hidden
                            a(href='#guide')
                                span.glyphicon.glyphicon-menu-left
                                span#back-to-guide-label
                        li#pager-next.next.hidden
                            a(role='button')
                                span#next-label
                                span.glyphicon.glyphicon-menu-right
                        li#pager-finishGuide.next.hidden
                            a(href='#sandbox')
                                span#finish-label
                                span.glyphicon.glyphicon-ok
                #graph-container


        script(src='scripts/app.js')