doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Modelagem em Deadlocks
        link(href="styles/app.css" rel="styleSheet")
    body
        .container
            .jumbotron
                h1 Modelagem em Deadlocks
                p Yay

        script(src="scripts/app.js")